{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="home">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="d-flex flex-column flex-shrink-0 side-menu">
          <a href="/" class="d-flex align-items-center text-decoration-none mx-auto">
            <img class="side-menu-img" src="{% static 'owl.png' %}" alt="Owl Logo" />
          </a>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item active">
              <a href="#" class="nav-link" aria-current="page">
                <img src="{% static 'icons-user.svg' %}" alt="user icon" />
                Home
              </a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a href="{% url 'users-list' %}" class="nav-link">
                  <img src="{% static 'icons-select-users-black.svg' %}" alt="user icon" />
                  Users list
                </a>
              </li>
            {% endif %}
          </ul>
          {% if user.is_authenticated %}
            {% include "logout.html" %}
          {% else %}
            {% include "login.html" %}
          {% endif %}
        </div>
        <div class="home-content">
          <div class="app-info">
            <span class="me-3">Mode: Development</span>
            <span class="me-3">Version: V0.0.1</span>
            <img src="{% static 'icons-translation.svg' %}" alt="user icon" />
          </div>
          <div class="content-card">
            <div class="mb-4">
              <h1 class="fw-bold">Welcome to Elimar</h1>
              <p>Elimar is a free tool that allow you to create REST API in minutes just with some clicks.</p>
            </div>

            <div class="mb-4">
              <h2 class="fw-bold">Getting Started</h2>
              <p>Our tool is rather easy to use however, checkout the official documentation on how to adding new schema.</p>
            </div>

            <div class="mb-4">
              <h2 class="fw-bold">Missing features?</h2>
              <p>Checkout our plugins if you're missing some features you would like to have additionally. You can find all plugins with their documentation here.</p>
            </div>

            <div>
              <h2 class="fw-bold">Need help?</h2>
              <p>For all the guides ...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
