@import "~bootstrap/scss/bootstrap";

@import "./variables.scss";

.elimar-primary-btn {
    background-color: $primary-color;
    color: $secondary-color;
}

.elimar-card-body {
    background-color: $card-background;
    padding: 2rem;
}

.elimar-card {
    width: 40rem;
    margin: auto;

    .elimar-card-image {
        text-align: center;
    }

    .card {
        margin: auto;
    }

    .card-body {
        padding: 1rem 0 1rem 0;
    }

    .form-control {
        border: 1px solid $primary-color;
    }

    label {
        font-size: 14px;
    }

    .card-save {
        text-align: center;

        input {
            width: 300px;
            height: 48px;
            font-weight: bold;
            font-size: 18px;
            border: none;

            &:hover {
                background-color: $hover-color;
            }
        }
    }
}
